.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  color: white;
  background-color: rgb(234, 146, 13);
  background-image: url(https://www.transparenttextures.com/patterns/cubes.png);
}

.lastname {
  font-weight: 300;
}

@media screen and (max-width: 1023px) {
  .main-header {
    height: 520px;
    padding-top: 120px;
  }
}
