section.new-tweet {
  font-weight: 600;
  color:rgb(110, 110, 110);
}

form {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

/* form div contains button and counter*/
form div {
  display: flex;
  justify-content: space-between;
  font-family: Bungee;
  font-size: 20px;
}

form button {
  border: none;
  padding: 5px 14px;
  background-color: #4056A1;
  color: #FFFFFF;
}

/* Add outline when button is clicked */
form button:active {
  border: 3px solid rgb(234, 146, 13);; 
}

form textarea {
  border: none;
  outline: none;
  margin-bottom: 16px;
  border-bottom: black solid 4px;
  resize: none;
  background-color: transparent;
  font-size: 19px;
}

.red-counter {
  color: red;
}

#error {
  display: none;
  color: red;
  border: 3px solid red;
  padding: 10px;
  margin: 10px;
}

@media screen and (max-width: 1023px) {
  section.new-tweet {
    padding-top: 50px;
  }
}