form {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

form label {
  color:rgb(114, 113, 113)
}

/* form div contains button and counter*/
form div {
  display: flex;
  justify-content: space-between;
  font-family: Bungee;
  font-size: 20px;
}

form button {
  border: none;
  padding: 5px 14px;
  background-color: #4056A1;
  color: #FFFFFF;
}

form textarea {
  border: none;
  outline: none;
  margin-bottom: 16px;
  border-bottom: black solid 4px;
  background-color: transparent;
  font-size: 19px;
}